*{
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    left: 0;
    top: 0;
}

nav{
    width: 100%;
    height: 90px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
    font-size: 17px;
}
li {
    padding: 16px;
    font-size: 20px;
}
a {
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
#logo_nav{
    width: 150px;
}
#contexto {
    min-height: 100vh;
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    padding-top: 10vh; 
    background: url(./imgs/img_ceu.jpg) no-repeat center center fixed;
    background-size: cover;
    color: black;
}
h1{
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    cursor: pointer;
}
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    cursor: pointer;
    margin-top: 20px; 
}
.esquerda{
    color: red;
    transition: color 0.2s;
}
.direita{
    color: blue;
    transition: color 0.2s;
}
h2:hover .esquerda{
    color: blue;
}
h2:hover .direita{
    color: red;
}

#botao_saiba_mais {
    padding: 18px;
    padding-left: 120px;
    padding-right: 120px;
    border: 2px solid black;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px; 
    margin-bottom: 200px;
    border-radius: 10px;
    background-color: whitesmoke;
    display: inline-block;
}

#botao {
    position: absolute;
    top: calc(50% + 100px); 
    left: 50%;
    transform: translateX(-50%);
}


